@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h2{
  font-size: 1.785rem;
}
h3{
  font-size: 1.685rem;
}
ul{
  list-style: none;
  margin: 15px 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 12px;
  box-shadow: 1px 2px 3px #ccc;
}

ul li{
  margin: 0 15px;
  font-size: 1.125rem;
}
